# Frontend Build Args
NEXT_PUBLIC_API_URL=http://localhost:5000/api
NEXT_PUBLIC_BACKEND_URL=http://localhost:5000

# Internal Docker Networking
INTERNAL_API_URL=http://backend:5000/api

# Frontend JWT Verification
JWT_VERIFY_SECRET=your_verify_secret